*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button,
input {
    font-family: inherit;
    background-color: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
    font-size: inherit;
    cursor: pointer;
}

body {
    background-color: var(--color-primary-dark-blue);
    color: var(--color-secondary-white);
    font-family: var(--ff);
}

html {
    scroll-behavior: smooth;
}

img {
    display: block;
    max-width: 100%;
}

body::-webkit-scrollbar {
    width: .5em;
}

body::-webkit-scrollbar-thumb {
    background-image: linear-gradient(var(--color-primary-blue) 0%, var(--color-primary-purple) 25%, var(--color-primary-yellow) 100%);
    border-radius: 6px;
    background-color: black;
    height: 40px;
}