:root {
    --color-primary-dark-blue: rgba(15, 22, 45, 1);
    --color-primary-violt: rgba(108, 124, 255, 1);
    --color-primary-purple: rgba(202, 89, 255, 1);
    --color-primary-turquoise: rgba(42, 255, 255, 1);
    --color-primary-yellow: rgba(255, 246, 41, 1);

    --color-secondary-white: rgba(255, 255, 255, 1);
    --color-secondary-graphite: rgba(39, 45, 66, 1);
    --color-secondary-black: rgba(0, 0, 0, 1);

    --bg-violt: rgba(44, 52, 85, 1);
    --bg-purple: rgba(55, 49, 85, 1);
    --bg-turquoise: rgba(39, 66, 85, 1);
    --bg-yellow: rgba(61, 65, 63, 1);

    --fs-h1:2rem;
    --fs-h1-3:3rem;
    --fs-h2: 20px;
    --fs-text: 16px;
    --fs-text-small: 14px;

    --fw-regular: 400;
    --fw-medium: 500;

    --ff: 'DM Sans', sans-serif;

    --screen-samll: 23.4375; //375px//
    --screen-medium: 48em; // 768px //
    --screen-large: 64em; //1024px//
}